body {
  background-color: #35383a;
  color: white;
  font-family: 'Monaco', monospace;
  letter-spacing: 0.2em;
}


.main-container {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin: 6vw;
}


.title {
  margin: 30px 0 ;
  font-size: 30px;
}


.pair {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  /* padding: 5em; */
}


.request {
  width: 200px;
  padding: 9px;
  border-radius: 5px;
  min-height: 20px;
  color: rgb(236, 137, 8);
  background-color: #2b2e30;
  border: solid 2px rgb(236, 137, 8);
  font-size: 0.8em;

}

.request:hover{
background-color: rgb(236, 137, 8);
color: #35383a;

}

.feautures {
  color: rgb(236, 137, 8);
}

.status{
  padding: 9px;
  font-size: 12px;
  /* margin: 3em; */
  color: white;
  /* text-decoration: none; */
}


.feature-element {
  font-size: 10px;
  padding: 3px;
  letter-spacing: 0.1em;
}

#featureList {
  display: flex;
  /* width: 50vw; */
  flex-wrap: wrap;
  width: 800px;
}
